.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.details {
    padding: 0 10px;
}

.topPanel {
    display: flex;
    padding: 0 10px;
}

.text {
    font-size: 150px;
    display: flex;
    justify-content: center;
}

.text, .imageWrapper {
    width: 200px;
}

.image {
    width: 100%;
}

.iconButton {
    cursor: pointer;
}

.meaning {
    font-size: 30px;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.radicalsList {
    display: flex;
}

.radical {
    padding: 0 10px;
    text-align: center;
    font-size: 40px;
}